/* General */

/*header*/
/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  
}
.navbar {
    background-image: url(img/PORTADA_CELULAR_4.png);
    color: transparent;
    
}
.jumbotron {
    margin-top: -20px;
    margin-bottom: 0px;
    background-image: url(img/PORTADA_CELULAR_4.png);
    background-position: 50% 10%;
    background-attachment: fixed;
    background-size: fixed;
    background-repeat: no-repeat;
    background-color: rgb(25, 25, 25);
    color: white;    
    height: 280px;
    width: 100%;
    text-shadow: black 0.3em 0.3em 0.3em;
    box-shadow: inset black 0em 0em 3em -0.3em;
}
/*
#cabecera{
    background-image: url("img/cabecera.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#cabeceraContainer{

position: static;

width: content-box;

height: content-box;

overflow: hidden;
padding-top: 6rem;
padding-bottom: 7rem;
}
*/




.navbar{
    background-image: url("img/menubar");
    background-attachment: fixed;
    opacity: 1;
}
.navbar-collapse{
    background-color: #2D2D2D;
}
/*Content*/
#contenedorP{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: transparent;
    
}
/*Footer*/